<!--  Sameey tabeelka pruduct -->
<!--

<div class="container mt-3">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>productName</th>
        <th>productCode</th>
        <th>releaseDate</th>
        <th>description</th>
        <th>price</th>
        <th>startRating</th>
        <th>imageUrl</th>
      </tr>
    </thead>
    <tbody>
      <tr>


    </tbody>
  </table>
</div>
 -->

<div class='card'>
  <div class='card-header'>

  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
               />
      </div>
    </div>
    <div class='row'
         >
      <div class='col-md-6'>
        <h4>Filtered by: </h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             >
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary'
                      >
                showImage
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>

            </td>
            <td>
              <a [routerLink]="">
                {{ product}}
              </a>
            </td>
            <td>{{ product}}</td>
            <td>{{ product }}</td>
            <td>{{ product}}</td>
            <td>



            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div></div>


